/* Desktop */
html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;

  font-family: 'Open Sans', sans-serif;
}

body {
  background: linear-gradient(to bottom, rgba(231, 240, 245, 1) 0%, rgba(170, 221, 235, 1) 100%);
}

.container {
  max-width: 50%;
  display: flex;
  flex-direction: row;
  height: 80%;
}

.self, .about {
  margin: 5px;
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.self {
  align-items: center;
  justify-content: center;
}

.name {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2px;
}

.profile-picture {
  border-radius: 50%;
}

.links {
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
}

.links li {
  display: inline-block;
  margin-right: 8px;
}

.links a {
  text-decoration: none;
  padding: 4px;
}

.links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Mobile */
@media only screen and (max-width: 800px) {
  body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .container {
    display: grid;
  }    
  .container > div {
    text-align: center;
  }
  .self, .about {
    max-width: 100%;
  }
}